<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>



<div class="row">
  <div class="col-12 d-flex justify-content-between align-items-center">
    <h1>Amigos</h1>
    <%= link_to "Nuevo", new_friend_path, class: 'btn btn-outline-secondary' %>
  </div>

</div>


<div id="friends">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <td>Nombres</td>
      <td>Apellidos</td>
      <td>Correo electronico</td>
      <td>Celular</td>
      <td>Acciones</td>
    </tr>
    </thead>
    <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.first_name %></td>
        <td><%= friend.last_name %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td class="d-flex">
          <%= link_to "Ver", friend_path(friend), class: 'btn btn-sm btn-outline-success' %> |
          <%= link_to "editar", edit_friend_path(friend), class: 'btn btn-sm btn-outline-warning'  %> |
          <%= button_to "Eliminar", friend, form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: 'btn btn-sm btn-outline-danger'  %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


